
@property --myColor1 {
  syntax: '<color>';
  initial-value: #ababab;
  inherits: false;
}

@property --myColor2 {
  syntax: '<color>';
  initial-value: #ababab;
  inherits: false;
}

@property --myColor3 {
  syntax: '<color>';
  initial-value: #ababab;
  /* initial-value: #101010; */
  inherits: false;
}

body {
  z-index: 0;
  background-color: #ababab;

  /* background: linear-gradient(180deg, var(--myColor1) 0%, var(--myColor2) 50%, var(--myColor3) 91%);
  transition: --myColor1 1s, --myColor2 1s, --myColor3 1s; */
}